{% extends 'elite_interior/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5 px-3 px-md-4" style="margin-top: 80px;">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="text-muted text-decoration-none" 
                   style="font-size: 1rem;font-weight:800;">Home</a>
            </li>
            {% if all_projects %}
            <li class="breadcrumb-item text-muted" style="font-size: 1rem;font-weight:800;">
                <a href="/{{ project.category|lower }}-projects/" 
                   class="text-muted text-decoration-none" 
                   style="font-size: 1rem;font-weight:800;">
                   {{ project.category }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" 
                style="font-size: 1rem;font-weight:800;">
                {{ project.subcategory }}
            </li>
            {% endif %}
        </ol>
    </nav>

    <!-- Title -->
    <h2 class="text-center mb-3">{{ category.name }}</h2>

    <!-- Description -->
    <p class="text-center text-muted mb-5">
        Kitchen of a house should be made and maintained in proper shape, design and color. 
        Everything should be arranged perfectly to match the requirements. 
        These models are fully customizable to fit your space and style.
    </p>

    <!-- Product Grid -->
    <div class="container py-5 px-2 px-md-3">
        <div class="row g-4" id="project-container">
            {% for project in all_projects %}
           <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex">
              <div class="card shadow-sm border-0 w-100">
                  {% if project.image %}
                  <img src="{{ project.image.url }}" 
                      class="card-img-top rounded-top project-img" 
                      alt="{{ project.name }}">
                  {% endif %}
                  <div class="card-body p-2 d-flex flex-column">
                      <h6 class="card-title mb-1" 
                          style="font-size: 0.95rem; white-space: normal; overflow: hidden; text-overflow: ellipsis;">
                          {{ project.name }}
                      </h6>
                      <p class="text-muted mb-2" 
                        style="font-size: 0.8rem; white-space: normal; overflow: hidden; text-overflow: ellipsis;">
                        {{ project.subcategory }}
                      </p>
                      <a href="{% url 'project_detail' project.slug %}" 
                        class="btn btn-sm view-btn mt-auto w-100" 
                        style="font-size: 0.8rem;">View</a>
                  </div>
              </div>
          </div>


            {% empty %}
            <p class="text-center">No projects available.</p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
